<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBY8pr-KoJ2xg2kZ2vtAuSjGy_aCTfqxsU</string>
	<key>GCM_SENDER_ID</key>
	<string>556071551980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>food-app-1c628</string>
	<key>STORAGE_BUCKET</key>
	<string>food-app-1c628.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556071551980:ios:fa1fe044fad1bc5f9636c9</string>
</dict>
</plist>